/*Columns*/
.fl-pricing-table:before,
.fl-pricing-table:after {
	display: table;
	content: " ";
}
.fl-pricing-table:after {
	clear: both;
}
.fl-pricing-table {
	margin-left: auto;
	margin-right: auto;
	zoom:1;
}
.fl-pricing-table [class^='fl-pricing-table-col-'] {
	float: left;
	position: relative;
	min-height: 1px;
}
.fl-pricing-table .fl-pricing-table-col-8 { width: 12.5%; }
.fl-pricing-table .fl-pricing-table-col-7 { width: 14.28%; }
.fl-pricing-table .fl-pricing-table-col-6 { width: 16.66%; }
.fl-pricing-table .fl-pricing-table-col-5 { width: 20%; }
.fl-pricing-table .fl-pricing-table-col-4 { width: 25%; }
.fl-pricing-table .fl-pricing-table-col-3 { width: 33.33%; }
.fl-pricing-table .fl-pricing-table-col-2 { width: 50%; }
.fl-pricing-table .fl-pricing-table-col-1 { width: 100%; }

/*Pricing Box Spacing*/
.fl-pricing-table.fl-pricing-table-spacing-tight {
	margin-left: -8px;
	margin-right: -8px;
}
.fl-pricing-table.fl-pricing-table-spacing-tight [class^='fl-pricing-table-col-'] {
	padding-right: 8px;
	padding-left: 8px;
}
.fl-pricing-table.fl-pricing-table-spacing-wide {
	margin-left: -16px;
	margin-right: -16px;
}
.fl-pricing-table.fl-pricing-table-spacing-wide [class^='fl-pricing-table-col-'] {
	padding-right: 16px;
	padding-left: 16px;
}

/*Pricing Boxes*/
.fl-pricing-table .fl-pricing-table-column {
	text-align: center;
	border-radius: 6px;
}
.fl-pricing-table .fl-pricing-table-inner-wrap {
	margin: 12px;
	border-radius: 3px;
}
.fl-pricing-table .fl-pricing-table-column .fl-pricing-table-price {
	padding: 13px 0;
	position: relative;
	z-index: 2;
	letter-spacing: -2px;
}
.fl-pricing-table .fl-pricing-table-column h2 {
	margin: 20px;
}
.fl-pricing-table .fl-pricing-table-column .fl-pricing-table-duration {
	font-size: .44em;
	display: inline-block;
	position: relative;
	bottom: 4px;
	letter-spacing: 0px;
	opacity: 0.85;
}
.fl-pricing-table .fl-pricing-table-features {
	margin: 20px 15px;
	list-style-type: none;
	padding: 0;
}
.fl-pricing-table .fl-pricing-table-features li {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	text-align: left;
	padding: 13px 4px;
}
.fl-pricing-table .fl-pricing-table-features li:last-child {
	border-bottom: 0;
}
.fl-pricing-table a.fl-button {
	display: block;
	margin: 0 40px;
}

/*Big and Small Borders*/
.fl-pricing-table.fl-pricing-table-border-wide .fl-pricing-table-inner-wrap {
	margin: 12px;
}
.fl-pricing-table.fl-pricing-table-border-wide .fl-pricing-table-column .fl-pricing-table-price {
	margin: 0 -15px;
}
.fl-pricing-table.fl-pricing-table-border-tight .fl-pricing-table-inner-wrap {
	margin: 8px;
}
.fl-pricing-table.fl-pricing-table-border-tight .fl-pricing-table-column .fl-pricing-table-price {
	margin: 0 -10px;
}